<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 스프링부트제공 기본 로깅설정 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="log_pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    <property name="log_path_local" value="C:\himedia\logs\feed\" />
    <property name="log_path_ec2" value="/home/ec2-user/bottle-talk/logs/feed/" />

    <!-- Rolling File Appender -->
    <appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_path_local}feed_action-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 파일 최대 크기 -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 최대 보관할 기간 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <pattern>${log_pattern}</pattern>
        </encoder>
        <!--  필터링  -->
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    import ch.qos.logback.classic.spi.ILoggingEvent;
                    return event.getMessage().contains("Feed");
                </expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
    </appender>
    <root level="info">
        <appender-ref ref="RollingFileAppender" />
    </root>
</configuration>